<!DOCTYPE html>
{% load static %}
{% block content %}
    <html lang="pl" xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="UTF-8">
        <title>Tickets-Party.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>

    <body>
    <main>
        <section>
            <div class="tickets">
                <header>
                    <div id="logo">Tickets - Party</div>
                    <button class="button">Zarejstruj</button>
                    <button class="button">Zaloguj</button>
                    <p> Tutaj będzie opis tej strony (jeszcza
                        nie wiem do końca co ona robi</p>
                </header>

                {% if all_events_info %}
                    {% for event in all_events_info %}
                        <div class="ticket">
                            <figure class="figure">
                                <img class="figure-img img-fluid rounded" src="{{ event.pictures }}" alt="TEST">
                                <figcaption>{{ event.event_name }}</figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                {% else %}
                    Nie ma eventów :(
                {% endif %}
            </div>
        </section>
    </main>

    </body>
{% endblock %}
</html>