<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
{% load static %} {% block content %}

<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-theme.min.css">
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center ">
                <div id="login-column" class="w-50 p-3 col-md-6 ">
                    <div id="login-box" class="h-75 d-inline-block col-md-10  ">
                        <form id="login-form" class="form " action="" method="post">
                            <h3 class="text-center text-info">Zaloguj się</h3>

                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        {{error}}
                                    {% endfor %}
                                {% endif %}

                            <div class="form">
                                <form method="post">
                                    {% csrf_token %}
                                        {% for field in form %}
                                            <div class="d-flex justify-content-center">
                                                <p>
                                                    {{ field }}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    <div class="center-block text-center">
                                        <button class="btn btn-info btn-md " type="submit" value="login" id="login_button">Potwierdź</button>
                                    </div>
                                </form>
                            </div>
                            <div id="register-link" class="mx-auto text-right">
                                <a href="/signup" class="text-info">Zarejestruj się tutaj</a>
                            </div>

                            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    $(document).ready(function() {
        $("#id_username").attr("placeholder", "e-mail").val("").focus().blur();
        $("#id_password").attr("placeholder", "hasło").val("").focus().blur();
    })
</script>

{% endblock %}