body {
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/0dcaf259403508a136e8dde0b8f9626f/photo-1578575436955-ef29da568c6c.jpg");
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}