body {
    background-color: white;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#logo {
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 20px;
    font-size: 36px;
    font-weight: 400;
    color: blue;
    display: inline-block;
}

.button {
    margin-bottom: 100px;
    background-color: blue;
    color: azure;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}


.rectangle {
    width: 100%;
    margin: 30px;
    color: yellow;
}


.ticket {
    width: 100%;
}

.events-card {
    margin-top: 10px;
    margin-bottom: 30px;
}

.ticket figure {
    margin: 10px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: fill;
}